# Pandas 데이터 추출과 삭제

****

**발표자**  
DSC 박소희

**내용**  
1. 열 단위 데이터 추출 
    * Series 개념 이해
    * Dataframe 개념 이해
2. 행 단위 데이터 추출 
    * loc
    * iloc
3. 행 또는 열 단위 삭제
4. 행과 열 추출 연습

**데이터 셋**  
gapminder.tsv, scientists.csv

In [4]:
import pandas as pd
pd.__version__

'1.5.3'

# 데이터 불러오기

****

**1. 로컬에 저장된 gapminder.csv 파일을 불러와 변수 df로 지정해주세요.**

In [3]:
# 아래에 코드를 작성 후 실행해 보세요.

**2. gapminder 데이터의 변수들을 파악해보세요.** 
* ex) 행과 열의 크기, 변수명 확인, 데이터프레임 미리보기, 자료형 확인

In [8]:
# 아래에 코드를 작성 후 실행해 보세요.
gapminder.shape

(1704, 6)

In [9]:
# 아래에 코드를 작성 후 실행해 보세요.
gapminder.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [10]:
# 아래에 코드를 작성 후 실행해 보세요.
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

**3. 로컬에 저장된 scientists.csv 파일을 불러와 변수 scientists로 지정해주세요.**
* index_col은 0번째 열로 선택해주세요.

In [8]:
# 아래에 코드를 작성 후 실행해 보세요.

**4. scientists 데이터 변수들을 파악해보세요.**
* ex) 행과 열의 크기, 변수명 확인, 데이터프레임 미리보기, 자료형 확인

In [9]:
# 아래에 코드를 작성 후 실행해 보세요.

In [10]:
# 아래에 코드를 작성 후 실행해 보세요.

In [11]:
# 아래에 코드를 작성 후 실행해 보세요.

### Answer

In [5]:
# Example code
gapminder = pd.read_table('../datafile/gapminder.tsv')
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [7]:
# Example code
scientists = pd.read_table('../datafile/scientists.csv', delimiter=',', index_col=0)
scientists

                            Born        Died  Age          Occupation
Name
Rosaline Franklin     1920-07-25  1958-04-16   37             Chemist
William Gosset        1876-06-13  1937-10-16   61        Statistician
Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
Marie Curie           1867-11-07  1934-07-04   66             Chemist
Rachel Carson         1907-05-27  1964-04-14   56           Biologist
John Snow             1813-03-15  1858-06-16   45           Physician
Alan Turing           1912-06-23  1954-06-07   41  Computer Scientist
Johann Gauss          1777-04-30  1855-02-23   77       Mathematician

# 열 단위 데이터 추출

****

## Series
- 일련의 객체를 담을 수 있는 1차원 배열
- 각 요소마다 index를 가짐
- Series끼리 산술연산 가능

```python
s = pd.Series(data, index=index)
```

`data`는 ndarray, dict, scalar 등 데이터를 입력  
`index`는 축 이름을 지정

**1. gapminder 데이터에서 country 열만 불러와보세요.**

In [59]:
# 아래에 코드를 작성 후 실행해 보세요.
gapminder.country

**2. gapminder 데이터에서 country 열의 데이터 유형을 출력해보세요.**
* Hint: type() 함수를 활용해보세요

In [13]:
# 아래에 코드를 작성 후 실행해 보세요.
type(gapminder['country'])

pandas.core.series.Series

### Answer

In [ ]:
# Example code
gapminder['country']

In [ ]:
# Example code
gapminder.country

In [38]:
# Example code
type(gapminder['country'])

pandas.core.series.Series

## DataFrame
- 행과 열을 가지는 스프레드시트 형식의 2차원 자료 구조
- 열마다 다른 데이터 타입을 가질 수 있음
- 행과 열에 대한 Index가 있음

```python
d = pd.DataFrame(data)
```

`data`는 여러가지 형태로 입력 가능

**3. gapminder 데이터에서 country, continent, year 열을 subset이라는 변수로 지정해보세요.**

In [15]:
# 아래에 코드를 작성 후 실행해 보세요.
subset = gapminder[['country', 'continent', 'year']]
subset

          country continent  year
0     Afghanistan      Asia  1952
1     Afghanistan      Asia  1957
2     Afghanistan      Asia  1962
3     Afghanistan      Asia  1967
4     Afghanistan      Asia  1972
...           ...       ...   ...
1699     Zimbabwe    Africa  1987
1700     Zimbabwe    Africa  1992
1701     Zimbabwe    Africa  1997
1702     Zimbabwe    Africa  2002
1703     Zimbabwe    Africa  2007

[1704 rows x 3 columns]

**4. gapminder 데이터에서 subset 변수의 유형을 출력해보세요.**

In [16]:
# 아래에 코드를 작성 후 실행해 보세요.
type(subset)

pandas.core.frame.DataFrame

### Answer

In [ ]:
# Example code
subset = gapminder[['country', 'continent', 'year']]

In [41]:
# Example code
type(subset)

pandas.core.frame.DataFrame

# 행 단위 데이터 추출

****

## loc (label-based)
* 인덱스를 기준으로 행 데이터 추출

**1. gapminder 데이터에서 0이라는 인덱스를 가진 행을 loc을 이용해 불러오세요.**

In [19]:
# 아래에 코드를 작성 후 실행해 보세요.
gapminder.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

****2. gapminder 데이터에서 0, 4, 109라는 인덱스를 가진 행을 loc을 이용해 불러와 인덱스를 리셋해주세요.****

In [20]:
# 아래에 코드를 작성 후 실행해 보세요.
gapminder.loc[[0,4,109]]

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
4    Afghanistan      Asia  1972   36.088  13079460   739.981106
109      Belgium    Europe  1957   69.240   8989111  9714.960623

In [23]:
gapminder.loc[[0,4,109]].reset_index()

   index      country continent  year  lifeExp       pop    gdpPercap
0      0  Afghanistan      Asia  1952   28.801   8425333   779.445314
1      4  Afghanistan      Asia  1972   36.088  13079460   739.981106
2    109      Belgium    Europe  1957   69.240   8989111  9714.960623

In [22]:
# 아래에 코드를 작성 후 실행해 보세요.
gapminder.loc[[0,4,109]].reset_index(drop=True)

       country continent  year  lifeExp       pop    gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333   779.445314
1  Afghanistan      Asia  1972   36.088  13079460   739.981106
2      Belgium    Europe  1957   69.240   8989111  9714.960623

### Answer

In [42]:
# Example code (1)
gapminder.loc[0]

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap     779.445314
Name: 0, dtype: object

In [43]:
# Example code (2)
gapminder.loc[[0, 4, 109]]
pd.DataFrame(gapminder.loc[[0, 4, 109]]).reset_index(drop=True)

       country continent  year  lifeExp       pop    gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333   779.445314
1  Afghanistan      Asia  1972   36.088  13079460   739.981106
2      Belgium    Europe  1957   69.240   8989111  9714.960623

### loc의 기능
* index, values, keys

In [44]:
scientists.head()

                            Born        Died  Age    Occupation
Name
Rosaline Franklin     1920-07-25  1958-04-16   37       Chemist
William Gosset        1876-06-13  1937-10-16   61  Statistician
Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
Marie Curie           1867-11-07  1934-07-04   66       Chemist
Rachel Carson         1907-05-27  1964-04-14   56     Biologist

In [29]:
scientists.loc['William Gosset']

Born            1876-06-13
Died            1937-10-16
Age                     61
Occupation    Statistician
Name: William Gosset, dtype: object

In [30]:
type(scientists.loc['William Gosset'])

pandas.core.series.Series

In [31]:
scientists.loc['William Gosset'].index

Index(['Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [32]:
scientists.loc['William Gosset'].values

array(['1876-06-13', '1937-10-16', 61, 'Statistician'], dtype=object)

In [33]:
scientists.loc['William Gosset'].keys()

Index(['Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [34]:
scientists.loc['William Gosset'].index[0]

'Born'

## iloc (integer position-based)
* 행 번호를 기준으로 행 데이터 추출

**1. gapminder 데이터에서 iloc을 이용해 0, 99, 마지막 번째 행을 추출해보세요**

In [25]:
# 아래에 코드를 작성 후 실행해 보세요.
gapminder.iloc[[0,99,-1]]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
99     Bangladesh      Asia  1967   43.453  62821884  721.186086
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

**2. gapminder 데이터에서 0, 99, 마지막 번째 열을 가진 시리즈를 데이터 프레임 형태로 출력해보세요**

In [57]:
# 아래에 코드를 작성 후 실행해 보세요.

### Answer

In [ ]:
# Example code (1)
gapminder.iloc[0]
gapminder.iloc[99]
gapminder.iloc[-1]

In [56]:
# Example code (2-1)
gapminder.iloc[[0, 99, -1]]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
99     Bangladesh      Asia  1967   43.453  62821884  721.186086
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
# Example code (2-2)
gapminder.iloc[[0, 99, -1]].reset_index(drop=True)

# 데이터 삭제

****

레이블 이름과 해당 축을 지정하거나 인덱스 또는 열 이름을 직접 지정하여 행이나 열을 제거합니다. 다중 인덱스를 사용하는 경우 레벨을 지정하여 다른 레벨의 레이블을 제거할 수 있습니다.
```python
DataFrame.drop(labels=None, *, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')
```

In [ ]:
scientists.head()

In [ ]:
scientists.drop('Occupation', axis = 1)
scientists.head()

In [ ]:
dropped = scientists.drop('Occupation', axis = 1)
dropped.head()

In [ ]:
scientists.drop('Occupation', axis = 1, inplace = True)

# 데이터 필터링

****

## DataFrame

In [8]:
scientists.head()

                            Born        Died  Age    Occupation
Name
Rosaline Franklin     1920-07-25  1958-04-16   37       Chemist
William Gosset        1876-06-13  1937-10-16   61  Statistician
Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
Marie Curie           1867-11-07  1934-07-04   66       Chemist
Rachel Carson         1907-05-27  1964-04-14   56     Biologist

In [9]:
# scientists의 평균 나이 이상만 필터링
scientists['Age'] > scientists['Age'].mean()

Name
Rosaline Franklin       False
William Gosset           True
Florence Nightingale     True
Marie Curie              True
Rachel Carson           False
John Snow               False
Alan Turing             False
Johann Gauss             True
Name: Age, dtype: bool

In [10]:
# 필터링한 값을 데이터프레임 형태로 출력하려면
scientists[scientists['Age'] > scientists['Age'].mean()]

                            Born        Died  Age     Occupation
Name
William Gosset        1876-06-13  1937-10-16   61   Statistician
Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
Marie Curie           1867-11-07  1934-07-04   66        Chemist
Johann Gauss          1777-04-30  1855-02-23   77  Mathematician

In [ ]:
scientists * 2

,Born,Died,Age,Occupation
Name,,,,
Rosaline Franklin,1920-07-251920-07-25,1958-04-161958-04-16,74,ChemistChemist
William Gosset,1876-06-131876-06-13,1937-10-161937-10-16,122,StatisticianStatistician
Florence Nightingale,1820-05-121820-05-12,1910-08-131910-08-13,180,NurseNurse
Marie Curie,1867-11-071867-11-07,1934-07-041934-07-04,132,ChemistChemist
Rachel Carson,1907-05-271907-05-27,1964-04-141964-04-14,112,BiologistBiologist
John Snow,1813-03-151813-03-15,1858-06-161858-06-16,90,PhysicianPhysician
Alan Turing,1912-06-231912-06-23,1954-06-071954-06-07,82,Computer ScientistComputer Scientist
Johann Gauss,1777-04-301777-04-30,1855-02-231855-02-23,154,MathematicianMathematician

## Series

In [24]:
ages = scientists['Age']
ages

Name
Rosaline Franklin       37
William Gosset          61
Florence Nightingale    90
Marie Curie             66
Rachel Carson           56
John Snow               45
Alan Turing             41
Johann Gauss            77
Name: Age, dtype: int64

In [25]:
# 첫 번째 요소를 불러오려면
ages[0]

37

In [26]:
# 평균보다 나이가 많은 사람의 데이터 추출
ages > ages.mean()

Name
Rosaline Franklin       False
William Gosset           True
Florence Nightingale     True
Marie Curie              True
Rachel Carson           False
John Snow               False
Alan Turing             False
Johann Gauss             True
Name: Age, dtype: bool

In [14]:
# 평균보다 나이가 많은 사람의 데이터 추출
ages[ages > ages.mean()]

Name
William Gosset          61
Florence Nightingale    90
Marie Curie             66
Johann Gauss            77
Name: Age, dtype: int64

In [27]:
# 정렬은 sort_index 함수로
ages.sort_index(ascending = False)

Name
William Gosset          61
Rosaline Franklin       37
Rachel Carson           56
Marie Curie             66
John Snow               45
Johann Gauss            77
Florence Nightingale    90
Alan Turing             41
Name: Age, dtype: int64

# 데이터 추출 연습

****

**1. gapminder 데이터에서 loc을 활용해 year열을 출력해보세요.**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**2. gapminder 데이터에서 loc을 활용해 year, pop열을 출력해보세요**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**3. iloc을 활용해 3번째 열인 year 열을 출력해보세요**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**4. gapminder 데이터에서 5번째 열의 이름을 확인해보세요**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**5. gapminder 데이터에서 iloc을 활용해 year, pop, gdpPercap 열을 출력해보세요**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**8. gapminder 데이터에서 iloc을 활용해 처음부터 5개의 행, 처음부터 3개의 열을 출력해보세요.**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**7. gapminder 데이터에서 iloc을 활용해 6열까지 2개의 간격으로 출력해보세요**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**8. iloc을 활용해 0, 99, 999행의 country, lifeExp, gdpPercap 열을 출력해보세요.**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**9. loc을 활용해 0, 99, 999행의 country, lifeExp, gdpPercap 열을 출력해보세요.**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**10. 인덱스가 10인행부터 13인행의 country, lifeExp, gdpPercap 데이터를 추출해보세요**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**11. iloc을 활용해 10~13행의 0, 3, 5 열을 출력해보세요.**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

### Answer

In [34]:
# Example code (1)
gapminder.loc[:, 'year']

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [ ]:
# Example code (2)
gapminder.loc[:, ['year', 'pop']].head()

In [36]:
# Example code (3)
gapminder.iloc[:, 2]

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [63]:
# Example code (4)
gapminder.columns[4]

'pop'

In [38]:
# Example code (5)
gapminder.iloc[:, [2, 4, -1]]

      year       pop   gdpPercap
0     1952   8425333  779.445314
1     1957   9240934  820.853030
2     1962  10267083  853.100710
3     1967  11537966  836.197138
4     1972  13079460  739.981106
...    ...       ...         ...
1699  1987   9216418  706.157306
1700  1992  10704340  693.420786
1701  1997  11404948  792.449960
1702  2002  11926563  672.038623
1703  2007  12311143  469.709298

[1704 rows x 3 columns]

In [39]:
# Example code (6)
gapminder.iloc[:5, :3]

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [68]:
# Example code (7)
gapminder.iloc[:,0:6:2]

          country  year       pop
0     Afghanistan  1952   8425333
1     Afghanistan  1957   9240934
2     Afghanistan  1962  10267083
3     Afghanistan  1967  11537966
4     Afghanistan  1972  13079460
...           ...   ...       ...
1699     Zimbabwe  1987   9216418
1700     Zimbabwe  1992  10704340
1701     Zimbabwe  1997  11404948
1702     Zimbabwe  2002  11926563
1703     Zimbabwe  2007  12311143

[1704 rows x 3 columns]

In [41]:
# Example code (8)
gapminder.iloc[[0, 99, 999], [0, 3, 5]]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [42]:
# Example code (9)
gapminder.loc[[0, 99, 999], ['country', 'lifeExp', 'gdpPercap']]

         country  lifeExp    gdpPercap
0    Afghanistan   28.801   779.445314
99    Bangladesh   43.453   721.186086
999     Mongolia   51.253  1226.041130

In [43]:
# Example code (10)
gapminder.loc[[10, 11, 12, 13],
       ['country', 'lifeExp', 'gdpPercap']]

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244

In [44]:
# Example code (11)
gapminder.iloc[10:14, [0, 3, 5]]
gapminder.iloc[[10, 11, 12, 13], [0, 3, 5]]

        country  lifeExp    gdpPercap
10  Afghanistan   42.129   726.734055
11  Afghanistan   43.828   974.580338
12      Albania   55.230  1601.056136
13      Albania   59.280  1942.284244