# 데이터 프레임 기초

****

**발표자**  
DSC 박소희

**내용**  
1. Pandas 데이터 프레임 생성
2. 데이터 저장
3. 데이터 불러오기
4. 변수 접근
5. 데이터 변환

**데이터 셋**  
lapis_korea.csv

In [1]:
import pandas as pd
pd.__version__

'1.5.3'

# 데이터 생성

****

```python
pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)

```

|이름|생년월일|나이|MBTI|
|:--:|:--:|:--:|:--:|
|소희|1995-12-20|28|ENFP|
|영수|2001-06-10|22|ISTP|

**1. 정보를 위와 같은 테이블을 본인 정보와 오른쪽 친구의 정보를 사용하여 생성해봅시다.**  
* Hint: Dictionary 형태로 만들어 team이라는 변수에 저장 후 출력해보세요.

In [10]:
# 아래에 코드를 수정 후 실행해 보세요
team={'이름':['name1','name2'],
      '생년월일':['0000-00-00','0000-00-00'],
      '나이':[00, 00],
      'MBTI':['MBTI1','MBTI2']}

In [11]:
# team 변수를 아래에 출력해보세요
team

{'이름': ['name1', 'name2'],
 '생년월일': ['0000-00-00', '0000-00-00'],
 '나이': [0, 0],
 'MBTI': ['MBTI1', 'MBTI2']}

**2. team 변수를 데이터프레임으로 만든 후 team_df 변수로 저장하여 출력하시오.**  
* Hint: pd.DataFrame을 활용해봅시다.

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요
team_df = pd.DataFrame(team)
team_df

**3. team_df 변수에 학생1, 학생2라는 인덱스를 추가해주세요.**  
* Hint: pd.DataFrame의 index 옵션을 활용해봅시다.

In [ ]:
# team이라는 Dictionary 변수에 학생1, 학생2라는 인덱스를 추가하여 데이터프레임으로 만들어주세요
pd.DataFrame(team, index=['index1','index2'])

### Answer

In [26]:
# Example code (1)
team = {'이름':['소희','영수'], 
        '생년월일':['1995-12-20','2001-06-10'],
        '나이':[28, 22],
        'MBTI':['ENFP','ISTP']}
team

{'이름': ['소희', '영수'],
 '생년월일': ['1995-12-20', '2001-06-10'],
 '나이': [28, 22],
 'MBTI': ['ENFP', 'ISTP']}

In [27]:
# Example code (2)
team_df = pd.DataFrame(team)
team_df

   이름        생년월일  나이  MBTI
0  소희  1995-12-20  28  ENFP
1  영수  2001-06-10  22  ISTP

In [30]:
# Example code (3)
pd.DataFrame(team, index=['학생1','학생2'])

     이름        생년월일  나이  MBTI
학생1  소희  1995-12-20  28  ENFP
학생2  영수  2001-06-10  22  ISTP

# 데이터 저장

****

**1. team_df를 csv 형태로 저장해봅시다.**
* Hint: to_csv, to_excel, to_json를 활용해봅시다.

In [34]:
# 아래에 코드를 작성 후 실행해 보세요
team_df.to_csv('/set_your_path/set_file_name.csv')

**2. csv 파일을 열어보세요. 한글이 깨지나요?**
* Hint: pd.DataFrame의 옵션인 encoding을 CP949 또는 UTF-8로 지정해보세요

In [11]:
# 아래에 코드를 작성 후 실행해 보세요

### Answer

In [35]:
# Example code
team_df.to_csv('test.csv')

In [37]:
team_df.to_csv('test.csv', encoding='CP949', index=False)

# 데이터 불러오기

****

|pandas 함수|설명|
|:--:|:--:|
|read_csv()|쉼표(,)로 구분된 파일을 읽습니다.|
|read_excel()|Excel 파일을 읽습니다.|
|read_table()|탭(\t)으로 구분된 파일을 읽습니다.|
|read_fwf()|구분자가 없는 파일을 읽습니다.|

**1. 로컬에 저장된 lapis_korea.csv 파일을 불러온 후, 행 5개만 출력해보세요.**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요

**2. 첫 번째 열로 지정된 csv파일에서의 index를 DataFrame에서 index로 지정해보세요.**
* Hint: index_col로 컬럼번호를 지정해보세요

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요

### Answer

In [40]:
# Example code (1)
df = pd.read_csv('./datafile/lapis_korea.csv')
df.head()

,Unnamed: 0,date,dateSubmitted,region,country,division,location,regionExposure,countryExposure,divisionExposure,...,sex,host,samplingStrategy,pangoLineage,nextcladePangoLineage,nextstrainClade,gisaidClade,submittingLab,originatingLab,count
0,0,2022-06-29,2022-12-28,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,...,NaN,NaN,NaN,BA.5.2,BA.5.2,22B,NaN,Jeollabukdo Institute of Health and Environmen...,NaN,1
1,1,2022-04-13,2022-11-14,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,...,NaN,Homo sapiens,NaN,BA.2.3,BA.2.3.8,21L,NaN,"Kangdong Sacred Heart Hospital, Hallym Univers...",NaN,1
2,2,2022-04-16,2022-12-28,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,...,NaN,NaN,NaN,BA.2.3,BA.2.3,21L,NaN,Jeollabukdo Institute of Health and Environmen...,NaN,1
3,3,2022-04-20,2022-11-14,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,...,NaN,Homo sapiens,NaN,BA.2,BA.2,21L,NaN,"Kangdong Sacred Heart Hospital, Hallym Univers...",NaN,3
4,4,2022-03-10,2022-11-14,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,...,NaN,Homo sapiens,NaN,BA.2.3,BA.2.3,21L,NaN,"Kangdong Sacred Heart Hospital, Hallym Univers...",NaN,2

In [44]:
# Example code (2)
df = pd.read_csv('./datafile/lapis_korea.csv', index_col=0)
df.head()

,date,dateSubmitted,region,country,division,location,regionExposure,countryExposure,divisionExposure,age,sex,host,samplingStrategy,pangoLineage,nextcladePangoLineage,nextstrainClade,gisaidClade,submittingLab,originatingLab,count
0,2022-06-29,2022-12-28,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,NaN,NaN,BA.5.2,BA.5.2,22B,NaN,Jeollabukdo Institute of Health and Environmen...,NaN,1
1,2022-04-13,2022-11-14,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,Homo sapiens,NaN,BA.2.3,BA.2.3.8,21L,NaN,"Kangdong Sacred Heart Hospital, Hallym Univers...",NaN,1
2,2022-04-16,2022-12-28,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,NaN,NaN,BA.2.3,BA.2.3,21L,NaN,Jeollabukdo Institute of Health and Environmen...,NaN,1
3,2022-04-20,2022-11-14,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,Homo sapiens,NaN,BA.2,BA.2,21L,NaN,"Kangdong Sacred Heart Hospital, Hallym Univers...",NaN,3
4,2022-03-10,2022-11-14,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,Homo sapiens,NaN,BA.2.3,BA.2.3,21L,NaN,"Kangdong Sacred Heart Hospital, Hallym Univers...",NaN,2

# 변수 접근

****

|접근법|예시 코드|
|:--:|:--:|
|데이터 형태 확인|df.shape|
|변수명 확인|df.columns|
|변수열 선택|df.col_names 또는df['col_names']|
|변수 삭제|del df['col_names']|
|변수명 변경|df.rename(columns={'col_names':'new_names'}, inplace=True)|

**1. lapis 데이터프레임의 행과 열 크기를 확인해보세요.**

In [12]:
# 아래에 코드를 작성 후 실행해 보세요.

**2. lapis 데이터프레임의 변수명을 확인해보세요.**

In [14]:
# 아래에 코드를 작성 후 실행해 보세요.

**3. lapis 데이터프레임의 상위 3개 행을 출력해보세요**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**4. lapis 데이터프레임의 하위 2개 행을 출력해보세요**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**5. pangoLineage 변수열을 선택하여 상위 5개 행을 출력해보세요**

In [13]:
# 아래에 코드를 작성 후 실행해 보세요.

**6. country 열을 삭제해보세요**

In [55]:
# 아래에 코드를 작성 후 실행해 보세요.

**7. division 열이름을 country로 변경해보세요**

In [3]:
# 아래에 코드를 작성 후 실행해 보세요.

### Answer

In [45]:
df.shape

(57, 20)

In [46]:
df.columns

Index(['date', 'dateSubmitted', 'region', 'country', 'division', 'location',
       'regionExposure', 'countryExposure', 'divisionExposure', 'age', 'sex',
       'host', 'samplingStrategy', 'pangoLineage', 'nextcladePangoLineage',
       'nextstrainClade', 'gisaidClade', 'submittingLab', 'originatingLab',
       'count'],
      dtype='object')

In [47]:
df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56],
           dtype='int64')

In [53]:
df.head(3)

,date,dateSubmitted,region,country,division,location,regionExposure,countryExposure,divisionExposure,age,sex,host,samplingStrategy,pangoLineage,nextcladePangoLineage,nextstrainClade,gisaidClade,submittingLab,originatingLab,count
0,2022-06-29,2022-12-28,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,NaN,NaN,BA.5.2,BA.5.2,22B,NaN,Jeollabukdo Institute of Health and Environmen...,NaN,1
1,2022-04-13,2022-11-14,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,Homo sapiens,NaN,BA.2.3,BA.2.3.8,21L,NaN,"Kangdong Sacred Heart Hospital, Hallym Univers...",NaN,1
2,2022-04-16,2022-12-28,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,NaN,NaN,BA.2.3,BA.2.3,21L,NaN,Jeollabukdo Institute of Health and Environmen...,NaN,1

In [52]:
df.tail(2)

,date,dateSubmitted,region,country,division,location,regionExposure,countryExposure,divisionExposure,age,sex,host,samplingStrategy,pangoLineage,nextcladePangoLineage,nextstrainClade,gisaidClade,submittingLab,originatingLab,count
55,2022-02-24,2022-11-14,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,Homo sapiens,NaN,BA.1,BA.1,21K,NaN,"Kangdong Sacred Heart Hospital, Hallym Univers...",NaN,1
56,2022-03-08,2022-12-28,Asia,South Korea,South Korea,NaN,Asia,South Korea,South Korea,NaN,NaN,NaN,NaN,BA.1.1,BA.1.1,21K,NaN,Jeollabukdo Institute of Health and Environmen...,NaN,1

In [56]:
df['pangoLineage'].head(4)

0    BA.5.2
1    BA.2.3
2    BA.2.3
3      BA.2
Name: pangoLineage, dtype: object

In [58]:
del df['country']

In [60]:
df.rename(columns={'division':'country'}, inplace=True)

# 데이터 변환

****

* 데이터프레임 값의 자료형은 두 가지로 확인할 수 있습니다.
|dtypes 속성|info() 메서드|
|:--:|:--:|
|columns의 자료형만 확인 가능|세부 정보 파악 가능|

||파이썬|판다스|
|:--:|:--:|:--:|
|문자열|string|object|
|정수|int|int64|
|실수|float|float64|
|datetime|datetime|datetime64|
* 판다스와 파이썬의 자료형 표현은 상이합니다.

**아래에서 자료형 값을 출력하는 코드를 실행 후 어떤 형태의 자료형이 출력되는지 확인해보세요.**

In [ ]:
# info() 메소드로 데이터프레임의 정보를 파악해보세요.
# 아래에 코드를 작성 후 실행해 보세요.

**dtypes 속성으로 데이터프레임의 자료형을 확인해보세요.**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

### Answer

In [76]:
# Example code (1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 56
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   57 non-null     object
 1   dateSubmitted          57 non-null     object
 2   region                 57 non-null     object
 3   location               0 non-null      float64
 4   regionExposure         57 non-null     object
 5   countryExposure        57 non-null     object
 6   divisionExposure       57 non-null     object
 7   age                    0 non-null      float64
 8   sex                    0 non-null      float64
 9   host                   24 non-null     object
 10  samplingStrategy       0 non-null      float64
 11  pangoLineage           57 non-null     object
 12  nextcladePangoLineage  57 non-null     object
 13  nextstrainClade        57 non-null     object
 14  gisaidClade            0 non-null      float64
 15  submittingLab          57 non-null     object
 16  originatingLab         0 non-null      float64
 17  count                  57 non-null     int64
 18  datesubmitted_dt       57 non-null     datetime64[ns]
 19  date_dt                57 non-null     datetime64[ns]
 20  t_days                 57 non-null     timedelta64[ns]
dtypes: datetime64[ns](2), float64(6), int64(1), object(11), timedelta64[ns](1)
memory usage: 9.8+ KB

In [77]:
# Example code (2)
df.dtypes

date                              object
dateSubmitted                     object
region                            object
location                         float64
regionExposure                    object
countryExposure                   object
divisionExposure                  object
age                              float64
sex                              float64
host                              object
samplingStrategy                 float64
pangoLineage                      object
nextcladePangoLineage             object
nextstrainClade                   object
gisaidClade                      float64
submittingLab                     object
originatingLab                   float64
count                              int64
datesubmitted_dt          datetime64[ns]
date_dt                   datetime64[ns]
t_days                   timedelta64[ns]
dtype: object

## **[자료형의 변경 응용 문제]**: 
데이터 포멧을 변경 후 새로운 열을 생성하기

**1. date(발병일)과 dateSubmitted(확진일)열의 포멧을 Pandas의 datetime으로 변경해보세요.**
* Hint: pd.to_datetime 함수를 활용해보세요.
* Hint: 옵션은 format='%Y-%m-%d'로 지정하면 됩니다.
* Hint: datetime 자료형으로 변경 후 새로운 열로 생성해야합니다.

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

**2. dateSubmitted와 date의 차를 계산 후, t_days라는 새로운 열을 생성해보세요.**

In [ ]:
# 아래에 코드를 작성 후 실행해 보세요.

### Answer

In [73]:
# Example code (3)
df['date_dt'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')
df['datesubmitted_dt'] = pd.to_datetime(df['dateSubmitted'], format = '%Y-%m-%d')

In [75]:
# Example code (4)
df['t_days'] = df['datesubmitted_dt'] - df['date_dt']
df['t_days'].head(3)

0   182 days
1   215 days
2   256 days
Name: t_days, dtype: timedelta64[ns]